<br>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" placeholder="Enter ..." [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="wkfEstado.nombre" value="{{wkfEstado.nombre}}">
            </div>
        </div>
        <div class="col-md-5">
            <label>Descripcion</label>
            
                <input style="font-size:14px;" type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="wkfEstado.descripcion" value="{{wkfEstado.descripcion}}">
                
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Nivel</label>
                <div class="input-group mb-3">
                    <select  class="form-control selected" [disabled]="isDisabledInput"
                        [ngModelOptions]="{standalone: true}"
                        [name]="estatus"
                        [(ngModel)]="estatus">
                        <option value="-">SELECCIONE</option>
                        <option value="1">SUPERIOR</option>
                        <option value="0">SISTEMA / OCULTO</option>
                        <option value="2">SUBSISTEMA</option>
                    </select>
                    <div class="input-group-prepend">
                        <button type="button" mat-raised-button color="accent" (click)="Guardar()">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i> &nbsp; Agregar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <label>Lista de Estados</label>
            <div style="width: 100%; height: 300px; overflow-y: scroll;">
                <table class="table" style="width: 98%;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <tr *ngFor="let e of rowEstado; let i = index">
                            <th scope="row">{{ i+1 }}</th>
                            <td>{{ e.nomb }}</td>
                            <td>{{ e.obse }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>